body {
    background: url(im);
}
:root {
    --lightskyblue:#87CEFA

}
*
{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    outline: none,borde;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0; left:0; right:0;
    background:#D8BFD8;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,0,1)

}


header .logo {
    font-size: 5rem;
    color:#800080;
    font-weight: bolder;
    
    

}
header .logo span{
    color: var(--pink);

}


header .menu a{
    font-size:1.8rem;
    color:black;
    padding:10px 30px ;
    position: relative;
    
}



header .menu a:hover{
    color:var(--pink)
}

header .dropdow_menu{
    display: block;
    position: absolute;
}

header .icons a{
    font-size: 1.5rem;
    color: #800080;
    margin-left: 2rem;
}

header #toggler{
    display: none;
}

header  .fa-bars{
    font-size: 3rem;
    color:333;
    border-radius:1.5rem;
    padding: 5rem 1.5rem;
    cursor: pointe;
}

@media(max-widh:852px){
    .fa-bars{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;


    }
}
